name: sendforge
description: Unified Messaging and Broadcast Platform
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.2
  shared_preferences: ^2.3.2
  file_picker: ^8.1.2
  csv: ^6.0.0
  flutter_contacts: ^1.1.9+2
  url_launcher: ^6.3.0
  permission_handler: ^11.3.1
  flutter_secure_storage: ^9.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
